<% @minivans.each do |minivan| %>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category"> minivan.location</div>
  <div class="card-description">
    <h2><%= minivan.price_per_day %>€/day</h2>
    <p><%= minivan.description %></p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
<% end %>
