
<div class="footer">
  <div class="container">
    </div class="row">
      <div class= "col-xs-12 col-md-4">
        about us
      </div>
      <div class= "col-xs-12 col-md-4">
        Follow us :
        <ul class="list-inline">
          <li>
            <a class="href"></a>
             <i class="fa fa-facebook"></i>
          </li>
          <li>
            <a class="href"></a>
            <i class="fa fa-twitter"></i>
          </li>
          <li>
            <a class="href"></a>
            <i class="fa fa-envelope-o"></i>
          </li>
        </ul>
      </div>
      <div class= "col-xs-12 col-md-4">
        Find a city
      </div>
    </div>
  </div>
</div>
