<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @banner_photo, height: 600, width: 800, gravity: :center, crop: :fill %>')">
  <div class="banner-content">
    <h1>Unicorn Minivans</h1>
    <p>Travelling for digital nomads</p>
    <a class="btn btn-warning btn-lg"> search </a>
  </div>
</div>

<h2 class="text-center"> Minivans</h2>
<%= render 'shared/card' %>
<%= link_to "Browse all minivans", minivans_path %>
