<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path @banner_photo, height: 600, width: 800, gravity: :center, crop: :fill %>')">
  <div class="banner-content">
    <h1>Unicorn Minivans</h1>
    <p>Travelling for digital nomads</p>
    <a class="btn btn-warning btn-lg"> search </a>
  </div>
</div>

<!-- <h2 class="text-center"> Minivans</h2> -->
<%= render 'shared/card' %>
<!-- <p class ="text-center"><%#= link_to "Browse all minivans", minivans_path, class: "btn btn-warning block-center" %></p> -->

<div class="text-center padded" id="newsletter">
      <h2>Get news from us</h2>
      <p>Leave us your mail and get news from us</p>
      <form class="form-inline">
        <input type="email" placeholder="bob@gmail.com" class="form-control">
        <input type="submit" value="Subscribe" class="btn btn-warning btn-bordered btn-bordered-warning">
      </form>
</div>

<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>


   <%= javascript_tag do %>
   var styles = [{"featureType":"landscape","stylers":[{"hue":"#FFBB00 "},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"road.highway","stylers":[{"hue":"#FFC200 "},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","stylers":[{"hue":"#FF0300 "},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","stylers":[{"hue":"#FF0300 "},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","stylers":[{"hue":"#0078FF "},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]},{"featureType":"poi","stylers":[{"hue":"#00FF6A "},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]}]

   $(document).ready(function() {
   var handler = Gmaps.build('Google');
   handler.buildMap({ provider: {scrollwheel: false, styles: styles}, internal: { id: 'map' } }, function() {
   markers = handler.addMarkers(<%= raw @coordinates.to_json %>);
   handler.bounds.extendWith(markers);
   handler.fitMapToBounds();
   if (markers.length == 0) {
   handler.getMap().setZoom(2);
 } else if (markers.length == 1) {
 handler.getMap().setZoom(14);
 handler.disableScrollWheelZoom();

}
});
});
<% end %>
<% end %>



