<!-- <h1>Minivans#new</h1>
<p>Find me in app/views/minivans/new.html.erb</p> -->

<div class="container">
  <div class="row">
    <div class= "col-xs-12 col-sm-6 col-sm-offset-3">
      <h1>Add a new minivan trip</h1>
      <%= render 'minivan_form' %>
    </div>
  </div>
</div>


